// Make sure the charset is set appropriately
@charset "UTF-8";

// Global Foundation Settings
@import "foundation/settings";
//@import "compass";
//@import "compass/css3/box";

// You can import only specific elements by adjusting the import below
@import "foundation";
@import "customgrids";
@import "elements";
@import "productlist";
@import "header";
@import "footer";

#resultcontainer {
	padding-top: rem-calc(16);
	background-color: #fff;
	border-radius: $global-radius $global-radius 0 0;
}

.usp-component {
	@include block-grid($per-row: 3);
	
	& > li {
		position:relative;
		
		&:before {
			@include fontello("\e8ca", $icon-size:75%, $icon-color:#fff, $icon-margin:0);
			position:absolute;
			top:3px;
			padding-top:7px;
			width:22px;
			height:22px;
			background-color:lighten($primary-color, 30%);
			border-radius:$global-rounded;
			line-height:1;
		}
	}
	
	h3 {
		padding-left:30px;
		font-size:$h5-font-size;
		color:$primary-color;
		
	}
	
	p {
		font-size:80%;
		margin-top:-5px;
		padding-left:30px;
		color:lighten($primary-color, 30%);
		line-height:1.3;
		
		> img {
			margin-top:5px;
		}
	}
}


.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}


.loader-overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	text-align:center;
	z-index:10;
	
	.loader-overlay-inner {
		position:relative;
		top:0;
		left:0;
		right:0;
		width:100%;
		height:100%;
		background: #fff;
		@include opacity(90, 0.9);
	}
	
	.loader-overlay-spinner {
		position:absolute;
		top:rem-calc(80);
		left:0;
		right:0;
		display:inline-block;
		width:auto;
		background: #fff;
		margin: rem-calc(24);
		padding: rem-calc(16);
		font-weight:700;
		text-transform:uppercase;
		color:#444;
		
		&:before {
			@include fontello("\e8c3", $icon-size:24px, $icon-color:#ccc);
			width:auto;
			margin-bottom: $rem-base;
			-moz-animation: spin 2s infinite linear;
			-o-animation: spin 2s infinite linear;
			-webkit-animation: spin 2s infinite linear;
			animation: spin 2s infinite linear;
			display: block;
		}
	}
}

/** ---------------~ S E A R C H   F I L T E R S ~--------------- */

.search-filters {
	h4 {
		margin-bottom: 10px;
		font-size:$h5-font-size;
		font-weight: normal;
	}
	
	/**
	 *  @part
	 *  Active filters.
	 */
	
	/** Filter list */
	ul {
		&.selection {
			margin: 0;
			padding-bottom: 20px;
			padding-bottom: 1.0rem;
			list-style:none;
			
			li {
				cursor: pointer;
				padding-left: 0;
				background: url('http://media.dejongintra.nl/styles/siteimages/components/filters/filters.png') no-repeat 207px -6px;
				font-size:rem-calc(14);
				line-height:1;
				
				a {
					display:block;
					text-decoration: none;
					padding-bottom: 4px;
				}
				
				&:before {
					display: none;
				}
				
				&:hover,
				&:hover * {
					color: #ee362c;
					background-position: 194px -36px;
					text-decoration: line-through;
				}
				
				&.clear-all {
					margin-top: 22px;
				}
			}
		}
	}
	
	ol {
		list-style:none;
	}
	
	/**
	 *  @part
	 *  Number of results.
	 */
	p {
		&.number-of-results {
			margin: 9px 0 1px;
			padding-bottom: $rem-base;
			border-bottom: 1px solid #0065a4;
			font-size: rem-calc(13);
		}
	}
	
	/**
	 *  @part
	 *  Filters.
	 */
	 .active-filters {
		padding: $rem-base;
		background-color: $highlight-color;
		border: 1px solid darken($highlight-color, 30%); 
		border-radius: $global-radius; 
		
		&:empty {
			border:none;
			background:#fff !important;
			padding:0;
		}
		
		.selection {
			padding-bottom:0;
			
			& > li {
				background-position: 170px -6px;
				line-height: 1.5em;
				
				&:hover {
					background-position:157px -36px;
				}
				
				a:before {
					@include fontello('\e8ca', $icon-size:15px);
					margin-right:rem-calc(5);
				}
				
				&.clear-all {
					a:before {
						content: normal;
					}
				}
			}
		}
	}
	
	.filters {
		border-top: 1px solid #0065a4;
		padding-top: 20px;
		ul,
		ol {
			margin-left:0;
		}
		.section {
			overflow: hidden;
			border-bottom: 1px solid #0065a4;
			
			h6 {
				cursor: pointer;
				color: #0065a4;
				background: url('http://media.dejongintra.nl/styles/siteimages/components/filters/filters.png') no-repeat right -110px;
				
				line-height: 50px;
				font-weight: normal;
			}
			
			&.collapsed {
				height: 50px;
				
				h6 {
					background-position: right -60px;
				}
				
				.fields {
					display: none;
				}
			}
			
			/**
			 *  @part
			 *  Radio buttons, popular
			 */
			
			&.radio-buttons {
				&.popular {
					overflow: hidden;
					position: relative;
					
					/** Section toggle */
					.toggle {
						cursor: pointer;
						padding-left: 0;
						color: #0868a5;
						line-height: 30px;
						text-decoration: underline;
						height: 30px;
						
						&:before {
							display: none;
						}
						
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
			
			

		}
		
		.fields {
			overflow: hidden;
			position: relative;
			margin-top: -11px;
			margin-bottom: 12px;
			
			.field {
				padding-left: 0;
				font-size:rem-calc(14);
				width:100%;
				
				label {margin-bottom:0;}
				
				/** Selectbox. */
				&.select {
					position: relative;
					padding: 0;
					line-height: 30px;
					//height: 30px;
					
					select {
						position: relative;
						left: 0;
						bottom: 0;
						width: 99%;
					}
				}
								
				/** Radio button. */
				&.radio-button {
					position: relative;
					
					input {
						position: absolute;
						left: 0;
						top: 0;
						opacity: 0;
						filter: alpha(opacity=0);
					}
					
					label {
						cursor: pointer;
						display: block;
						margin:0;
						padding: 1px 0;
						//background: #fff;
						line-height: 20px;
						font-weight:normal !important;
						font-size:inherit;
						
						.number {
							color: #aaa;
							
							&:before {
								content: '\00a0';
							}
						}
					}
				}
				
				/** Checkbox. */
				&.checkbox {
					
					position:relative;
					
					input {
						cursor:pointer;
						position: absolute;
						left: 0;
						top: 0;
						opacity: 0;
						filter: alpha(opacity=0);
						cursor:pointer;
					}
					
					label {
						cursor: pointer;
						display: block;
						margin:0;
						padding: 5px 0 5px 20px;
						background: #fff;
						background: #fff url('http://media.dejongintra.nl/styles/siteimages/components/filters/checkboxes.png') no-repeat -2px -35px;
						line-height: 20px;
						font-size:inherit;
						
						.number {
							color: #aaa;
							
							&:before {
								content: '\00a0';
							}
						}
					}
					
					&.checked {
						
						label {
							background-position: -32px 5px;
						}
					}
				}
			}
			
			.selected-field {
				cursor: pointer;
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				padding: 5px 0;
				background: url('../siteimages/components/filters/filters.png') no-repeat right 0;
				line-height: 20px;
				width: 100%;
				
				.number {
					color: #aaa;
					
					&:before {
						content: '\00a0';
					}
				}
				
				&:hover,
				&:hover .number {
					color: #ee2e24;
					background-position: right -30px;
					text-decoration: line-through;
				}
			}
			
			.field:before,
			.selected-field:before {
				display: none;
			}
		}
	}
	
	/** Popular and full lists */
	.section {

		&.radio-buttons {
			
			&.popular {
				
				&.show-popular {
					
					.fields {
						
						&.popular {
							visibility: visible !important;
							position: relative !important;
							top: auto;
						}
						
						&.all {
							visibility: hidden;
							position: absolute;
							top: 50px;
						}
					}
				}
				
				&.show-all {
					.fields {
						&.popular {
							visibility: hidden;
							position: absolute;
							top: 50px;
						}
						
						&.all {
							visibility: visible !important;
							position: relative !important;
							top: auto;
						}
					}
				}
			}
		}
		
		/**
		 *  @part
		 *  Date picker
		 */
		&.date-picker {
			position:relative;
			
			.fields	{
				overflow: hidden;
				margin-top: 0;
				margin-bottom: 0;
				height: 0;
				
				.field {
					visibility: hidden;
					position: absolute;
				}
				
				&.show-month {
					height: 40px;
					.field:first-child {
						visibility: visible;
						position: relative;
						left: 0;
						top: 0;
						width: 100%;
						height: 40px;
						
						select {
							visibility: visible;
							top: 0;
							margin-bottom:0;
							width: 100%;
							//height: 24px;
						}
					}
				}	
			}
			
			/** Custom date picker: Months */

			.months	{
				margin-top: -8px;
				margin-bottom: 12px;
				
				li {
					cursor: pointer;
					padding-left: 0;
					line-height: 22px;
					height: 22px;
					list-style:none;
					color:#4D4D4D;
					font-size:rem-calc(14);
					
					&:before { display:none; }
				}
				
				/** Section toggle */
				.toggle	{
					cursor: pointer;
					padding-left: 0;
					color: #0868a5;
					line-height: 30px;
					text-decoration: underline;
					height: 30px;
					
					&:before { display:none; }
					&:hover { text-decoration: none;}
				}
				
			}//END MONTHS
			
			&.show-less {
				.months	{
					&.less {
						visibility: visible !important;
						position: relative !important;
						top: auto;
					}
					&.all {
						visibility: hidden;
						position: absolute;
						top: 50px;
					}
				}
			}
			&.show-all {
				.months	{
					&.less {
						visibility: hidden;
						position: absolute;
						top: 50px;
					}
					&.all {
						visibility: visible !important;
						position: relative !important;
						top: auto;
					}
				}
			}
		}
	}
	
}

/** Custom date picker: Calendar 

.search-filters .section.date-picker .fields.show-month
{
	height: 40px;
}

.search-filters .section.date-picker .fields.show-month .field:first-child
{
	visibility: visible;
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 40px;
}

.search-filters .section.date-picker .fields.show-month .field:first-child select
{
	visibility: visible;
	position:absolute;
	top: 0;
	width: 100%;
	margin-bottom:0;
	//height: 24px;
}
*/

//@media screen and (-webkit-min-device-pixel-ratio:0) {  
/* CSS Statements that only apply on webkit-based browsers (Chrome, Safari, etc.) */  
//  .search-filters .section.date-picker .fields.show-month .field:first-child select { top:-30px; position:absolute}  
//}

.component.search-filters .section.date-picker .fields.show-month .cal-nav
{
	float:left;
 cursor: pointer;
 width: 20px;
 text-align:center;
 line-height:20px;
 color:$primary-color;
}

.component.search-filters .section.date-picker .fields.show-month .cal-nav.next
{
	float:right;
}

.component.search-filters .section.date-picker .fields.show-month .cal-nav.disabled
{
	background-position: 0 -20px;
	color:#CCC;
	cursor:default;
}

.component.search-filters .section.date-picker .fields.show-month .cal-nav.next.disabled
{
 background-position: -20px -20px;
 	color:#CCC;
	cursor:default;
}

/** Day selected: show margin */

.search-filters .section.date-picker.show-margin .fields
{
	overflow: visible;
}

.search-filters .section.date-picker.show-margin .fields .field.margin
{
	visibility: visible;
	position: absolute;
	left: 0;
	top: 0;
}

.search-filters .section.date-picker.show-margin .calendar
{
	margin-bottom: 50px
}

/** Calendar */

.search-filters .section.date-picker .calendar
{
	margin-bottom: 18px;
	border-top: 1px solid #ccc;
	margin-right:-9px;
	//width:100%;
	//width:217px;
}

.search-filters .section.date-picker .calendar .cal-row
{
	background: #eef7ff;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	width:100%;
	height: 27px;
}

.search-filters .section.date-picker .calendar .cal-row.heading
{
}

.search-filters .section.date-picker .calendar .cal-row .cell
{
	float: left;
	background: #fff;
	border-right: 1px solid #ccc;
	font-size:rem-calc(13);
	text-align: center;
	line-height: 27px;
	width: 12%;
	height: 100%;
	/*width: 27px;
	height: 27px;*/
}

.search-filters .section.date-picker .calendar .cal-row .cell.disabled
{
	color: #aaa !important;
	background: #ebebeb;
}

.search-filters .section.date-picker .calendar .cal-row .cell:first-child,
.search-filters .section.date-picker .calendar .cal-row .cell:last-child
{
	border-right: 1px solid #ccc !important;
}

.search-filters .section.date-picker .calendar .cal-row.heading .cell,
.search-filters .section.date-picker .calendar .cal-row .cell.heading
{
	background: #eef7ff;
	border-color: transparent;
}

.search-filters .section.date-picker .calendar .cal-row .cell.available
{
	cursor: pointer;
}

.search-filters .section.date-picker .calendar .cal-row .cell.available:hover,
.search-filters .section.date-picker .calendar .cal-row .cell.selected
{
	color: #fff;
	background: #00619e;
}

.search-filters .section.date-picker .calendar .cal-row .cell.margin
{
	background: #ccdfec;
}