/*Ski informatie*/
$cdn:"http://media.dejongintra.nl/styles"; /*$cdn:"..." live omgeving*/

.snow-guarantee-info {
	@include block-grid(1, $spacing:rem-calc(64));
	counter-reset: section;
	&>li {
		padding-bottom:$rem-base;
	}
	
	.inner {
		@include grid-row($behavior:nest);
	}
	
	figure {
		@include grid-column(3);
		//margin-bottom:rem-calc(8);
		figcaption {
			display:none;
			margin-bottom:rem-calc(8);
			text-overflow:ellipsis;
			color:scale-color(#7AC943, $lightness:-20%);
			font-size:$h5-font-size;
			
			&:before {
				counter-increment: section;
    			content: counter(section) ". ";
			}
		}
	}
	
	article {
		@include grid-column(9);
	}
	
	h6 {
		margin-top:rem-calc(-5);
		font-weight:500;
	}
	
	p,
	ul {
		//font-size:rem-calc(13);
		//line-height:1.3;
		text-align:left;
		//color:#666;
	}
	ul {
		list-style:inside;
		margin:rem-calc(-16 0 0);
	}
}

.attention {
	@include grid-column(12, $collapse:true);
	padding-top:$rem-base;
	border-top:3px solid #666;
	p {
		padding-left:rem-calc(48);
		margin-bottom:0;
		font-size:rem-calc(13);
		line-height:1.3;
		color:#666;
	}
	&:before {
		@include fontello('\e82b', $icon-size:24px, $icon-color:#666);
		position:absolute;
	}
}

@-webkit-keyframes snowLogo-1 {
	0% { opacity:0;	top:rem-calc(-90); }
	50% { top:rem-calc(32); }
	100% { opacity:1; top:rem-calc(16); }
}
@-moz-keyframes snowLogo-1 {
	0% { opacity:0;	top:rem-calc(-90); }
	50% { top:rem-calc(32); }
	100% { opacity:1; top:rem-calc(16); }
}
@keyframes snowLogo-1 {
	0% { opacity:0;	top:rem-calc(-90); }
	50% { top:rem-calc(32); }
	100% { opacity:1; top:rem-calc(16); }
}

@-webkit-keyframes snowLogo-3 {
	0% { opacity:0;	top:rem-calc(-90); }
	50% { top:rem-calc(16); }
	100% { opacity:1; top:rem-calc(-16); }
}
@-moz-keyframes snowLogo-3 {
	0% { opacity:0;	top:rem-calc(-90); }
	50% { top:rem-calc(16); }
	100% { opacity:1; top:rem-calc(-16); }
}
@keyframes snowLogo-3 {
	0% { opacity:0;	top:rem-calc(-90); }
	50% { top:rem-calc(16); }
	100% { opacity:1; top:rem-calc(-16); }
}

.snow-guarantee-logo-1 {
	position:absolute;
	display:none;
	width:90px;
	height:90px;
	right:$rem-base;
	z-index:10;
	background: url($cdn+'/siteimages/ski-info/sprite-sneeuw-garantie.png') no-repeat -60px -60px;
	
	&:before {
		@include fontello('\e82b', $icon-color:#7AC943);
		position:absolute;
		right:0;
		bottom:0;
		width:rem-calc(20);
		height:rem-calc(20);
		background-color: #fff;
		padding:rem-calc(2 4);
		border-radius:$global-rounded;
	}
}

.theme-WI .snow-guarantee-logo-1 {
	opacity:0;
	-webkit-animation: snowLogo-1 1s 1s;
	-webkit-animation-fill-mode:forwards;
	-moz-animation: snowLogo-1 1s 1s;
	-moz-animation-fill-mode:forwards;
	animation: snowLogo-1 1s 1s;
	animation-fill-mode:forwards;
	display:block;
	top:$rem-base;
}

.snow-guarantee-logo-2 {
	position:relative;
	display: inline-block;
	width:60px;
	height:60px;
	margin:rem-calc(0 8 -38 0);
	z-index:10;
	background: url($cdn+'/siteimages/ski-info/sprite-sneeuw-garantie.png') no-repeat 0 0;
	
	&:before {
		@include fontello('\e82b', $icon-color:#7AC943, $icon-size:13px);
		position:absolute;
		bottom:0;
		right:rem-calc(-4);
		width:rem-calc(16);
		height:rem-calc(16);
		background-color: #fff;
		padding:rem-calc(2 4);
		border-radius:$global-rounded;
	}
}

.snow-guarantee-logo-3 {
	position:absolute;
	width:90px;
	height:90px;
	left:rem-calc(-16);
	top:rem-calc(-16);
	z-index:10;
	background: url($cdn+'/siteimages/ski-info/sprite-sneeuw-garantie.png') no-repeat -60px -60px;
	
	opacity:0;
	-webkit-animation: snowLogo-3 1s 1s;
	-webkit-animation-fill-mode:forwards;
	-moz-animation: snowLogo-3 1s 1s;
	-moz-animation-fill-mode:forwards;
	animation: snowLogo-3 1s 1s;
	animation-fill-mode:forwards;
	
	&:before {
		@include fontello('\e82b', $icon-color:#7AC943);
		position:absolute;
		right:0;
		bottom:0;
		width:rem-calc(20);
		height:rem-calc(20);
		background-color: #fff;
		padding:rem-calc(2 4);
		border-radius:$global-rounded;
	}
}

.snow-guarantee-inline {
	position:relative;
	padding-left:rem-calc(72);
	
	&:before {
		position:absolute;
		content:"";
		display:inline-block;
		width:60px;
		height:60px;
		z-index:1;
		left:0;
		top:-$rem-base;
		background: url($cdn+'/siteimages/ski-info/sprite-sneeuw-garantie.png') no-repeat;
	}
}

.ski-resort-index-menu {
	//display: none;
	dl {
		@include grid-row;
	}
	dt {
		color: darken($primary-color, 10%);
	}
	
	&.fixed {
		//display: inline-block;
		border-bottom:2px solid scale-color($red-color, $lightness:50%);
		box-shadow:0 0 5px #000;
		dt {
			
		}
	}
}

.ski-resort {
	
	$bg-panel-color:scale-color($primary-color, $lightness:30%);
	$text-panel-color: darken($primary-color, 10%);
	$border-color:scale-color($bg-panel-color, $lightness:30%);
	
	margin-bottom:$rem-base*2;
	
	.inner {
		@include grid-row($behavior:collapse);
	
		header {
			@include grid-column(12, $collapse:true);
			position: relative;
			border-bottom:2px solid scale-color($red-color, $lightness:50%);
			a[href="#skigebieden"] {
				display:inline-block;
				position:absolute;
				top:$rem-base;
				right:0;
				font-size:rem-calc(12);
				color:#666;
				&:before {
					@include fontello('\e875');
				}
			}
		}
		
		.intro {
			@include grid-column(12, $collapse:true);
			margin-top:rem-calc(30);
		}
		
		>figure {
			@include grid-column(12, $collapse:true);
			position:relative;
			
			img {
				width:100% !important;
			}
		}
		
		> section {
			@include grid-column(12);
			background: $bg-panel-color;
			h3 {
				border-bottom: 1px solid $border-color;
				color: #fff !important;
				text-align:center;
				text-shadow:1px 1px 1px scale-color($primary-color, $lightness:5%);
				line-height: rem-calc(45);
				
				span {
					font-size: 120%;
				}
			}
		}
	
	}
	
	h6 { color: $text-panel-color; }
	label {
		display:inline-block;
		color: #fff;
		line-height:inherit;
		margin-left: rem-calc(6);
	}
	
	.ski-main {
		@include block-grid(3);
		padding:rem-calc(15 0);
		> li {
			position:relative;
			height: rem-calc(84);
			
			h6 {
				margin-top:rem-calc(-2);
				white-space: nowrap;
			}
			
			&:nth-child(2) {
				border-width: 0 1px;
				border-style: solid;
				border-color: $border-color;
			}
		}
		
		
		.ski-height {
			ul {
				@extend .no-bullet;
				margin-top: rem-calc(-62);
				margin-right: 30%;
				li {
					text-align: right;
					line-height:1;
				}
			}
		}
		
		.ski-piste {
			ul {
				@extend .no-bullet;
				li {
					position:relative;
					label {
						position: absolute;
						top:rem-calc(-4);
						right: 0;
					}
				}
			}
			.progress {
				height: rem-calc(12);
				margin-bottom: rem-calc(5);
				&.blauw .meter { background: #0077c1; }
				&.rood .meter { background: $red-color; }
				&.zwart .meter { background: black; }
			}
		}
		
		.ski-lift {
			ul {
				@include block-grid(3);
				li {
					text-align:center;
					
					figure {
						min-height:40px;
					}
				}
			}
		}
	}
	
	.orbit-container {
		.orbit-timer,
		.orbit-bullets { display: none; }
		.orbit-bullets-container {
			border-top:1px solid $border-color;
			height: rem-calc(15);
		}
	}
	
	.ski-info-taskbar {
		@include button-group-container();
		border-top: 1px solid $border-color;
		
		.ski-info-button {
			@include button($bg:$bg-panel-color, $padding:$button-tny);
			@include single-transition;
			margin-bottom:0;
			font-size: $rem-base;
			text-shadow:1px 1px 1px scale-color($primary-color, $lightness:5%);
			width:25%;
			
			&.active {
				background-color: $border-color;
				color: $text-panel-color;
				text-shadow: none;
			}
		}
		
		& > li { @include button-group-style($even:4); }
	}
	
	.orbit-container {
		
		>ul {height: rem-calc(110) !important;}
		.inner {
			background-color: $bg-panel-color;
			border-width: 1px 0;
			border-style: solid;
			border-color: $border-color;
			figure {
				@include grid-column(6, $collapse:true);
				position:relative;
				figcaption {
					position:absolute;
					right:15%;
					bottom:10%;
					color: #fff;
					text-shadow: 1px 1px 1px #000;
					line-height:1;
					font-size:24px;
					font-family: 'Shadows Into Light Two', 'cursive', Georgia, serif;
					letter-spacing:2px;
				}
			}
			>div {
				@include grid-column(6, $collapse:false);
				
				>ul {
					@extend .no-bullet;
					margin-top: rem-calc(10);
					li {
						color: $text-panel-color;
					}
				}
			}
		}
	}
	
	.ski-info-data {
		@include grid-row($behavior:nest-collapse);
		margin:$rem-base/2 0 0;
		h6 {
			margin:rem-calc(0 5 0 0);
			text-align: right;
			line-height:1.5;
		}
		> span {
			@include grid-column(6, $collapse:true);
		}
	}
	
	.ski-rating{
		@include inline-list;
		margin:0;
		line-height:2;
		
		li {
			margin-left:rem-calc(4);
			font-size:rem-calc(12);
			&:before {
				@include fontello ('\e8cd', $icon-margin:0, $icon-color:scale-color($primary-color, $lightness:20%));
				text-shadow:-1px -1px 1px scale-color($primary-color, $lightness:-20%), 1px 1px 1px scale-color($primary-color, $lightness:40%);
			}
			
			&.rated {
				&:before {
					@include fontello ('\e8cd', $icon-margin:0, $icon-color:#fff);
					text-shadow: none;
				}
			}
		}
	}
}